.form {
    text-align: center;
    padding: 10px 0;
    background-color: darken($colour-background, 8%);
    color: darken($colour-background, 75%);
    &__input {
        border: none;
        background: none;
        margin-left: 10px;
        width: 110px;
        &::placeholder {
            color: darken($colour-background, 75%);
            opacity: 1;
        }
        &:focus {
            background-color: #FFF;
        }
    }    
}

.form-gradient {
    height: 3px;
    background: linear-gradient(darken($colour-background, 20%), darken($colour-background, 8%));
}