.loader {
    display: flex;
    justify-content: center;
    background-color: $colour-back; 
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: loader 2900ms ease-in-out;
    opacity: 0;
    &__logo {     
        font-family: 'Shrikhand', sans-serif;
        margin-top: 12px;
        font-size: 2.1em;
        position: fixed; 
        display: flex;  
        top: 37%;
        @for $i from 1 through 8 {
            div:nth-child(#{$i}) {
                animation: logo-load $load-duration both;
                animation-delay: (($i - 1) * 250ms);
            }
        }
    }
    &__spinner {
        align-self: center;
        display: flex;
        justify-content: center;
        position: fixed;               
        div {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 0 15px;
            background-color: $colour-tertiary;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation: spinner 600ms ease-in-out both infinite;
                    animation-direction: alternate;
                    animation-delay: (($i - 1) * 400ms);
                }
            }
        }
    }
}

.after_load {
    position: relative;
    animation: after-load 3000ms ease-in-out;
}