.page {
    max-width: 600px;
    z-index: 1;
    position: relative;
    top: -$menu_radius;
    background-color: $colour-background;
    border-radius: $menu_radius $menu_radius 0 0;
    margin-bottom: -$menu_radius;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        margin-right: 15px;
    }
}

.menu_title {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    &::after {
        content: "";
        width: 40px;
        height: 3px;
        margin-top: 5px;
        background-color: $colour-tertiary;
    }
}

.plat {
    background: $colour-back;
    border-radius: 10px;
    padding: $plat-padding;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 3px 3px darken($colour-background, 5%);
    position: relative;
    overflow: hidden;
    animation: check 300ms ease-in-out both;
    @for $i from 1 through 3 {
        &--delay_#{$i} {
            animation-delay: ($i * 200ms);
        }
    }
    &__desc {
        width: 90%;
        white-space: nowrap;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__prix {
        align-self: flex-end;
        font-weight: bold;
    }
    &__icon {
        opacity: 0;
        position: absolute;
        width: 70px;
        height: 100%;
        right: 0;
        margin: -$plat-padding;
        color: $colour-back;
        background-color: darken($colour-tertiary, 5%);
        display: flex;
        justify-content: center;
        align-items: center;
        &__img {
            opacity: 0;
            font-size: 1.5em;         
            margin-right: 10px;                      
        }      
    }
}

.plat:hover {
    .plat__desc {
        width: 72%;
        @media all and (max-width: 380px) {
            width: 65%;
        }
        @media all and (max-width: 320px) {
            width: 50%;
        }
    }
    .plat__prix {
        animation: price-shift 500ms both;        
    }
    .plat__icon {   
        opacity: 1;
        animation: icon-shift 500ms both;
        &__img {
            opacity: 1;
            animation: icon-rotate 500ms ease-in-out both; 
        }
    }            
}   

.accompagnement {
    font-size: 0.9em;
    margin-top: 5px;
}

.order {
    text-align: center;
    &__btn {
        width: 50%;
    }
}