.heart_btn {
    background: none;
    border: none;
    cursor: pointer;    
    &:focus {
        outline: none;
    }
    &:hover .heart_icon {
        animation: heart-vanish 400ms ease-in-out both;
    }
    &:hover .heart_icon_hover {
        z-index: 1;
        opacity: 1;
        animation: heart-filling 400ms ease-in-out;
    }
}

.heart_icon {
    font-size: 1.5em; 
    position: absolute;
    z-index: 1;
}

.heart_icon_hover {
    font-size: 1.5em;
    position: relative;
    z-index: -1;
    opacity: 0;
    background: -webkit-linear-gradient($colour-secondary, $colour-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
