.heart_btn {
    background: none;
    border: none;
    &:hover .heart_icon {
        display: none;
    }
    &:hover .heart_icon_hover {
        display: block;
    }
}

.heart_icon {
    font-size: 1.5em;   
    display: block;
}

.heart_icon_hover {
    font-size: 1.5em;
    display: none;
    background: -webkit-linear-gradient($colour-secondary, $colour-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}