.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $layout-padding;
    background-color: $colour-background;
    &__title {
        width: 60%;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: $main-title-size;
        margin-bottom: 10px;
    }
}

.fct_title {
    font-weight: bold;
    font-size: $main-title-size;
    margin-bottom: 20px;
}

.bloc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list {
    display: flex;
    padding: 25px;
    background-color: $colour-background;
    border-radius: 20px;
    box-shadow: 0 4px 4px darken($colour-background, 10%);
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &__nb {
        background-color: $colour-primary;
        color: $colour-back; 
        font-size: 0.9em;
        border-radius: 10px;
        padding: 2px 6px;
        position: absolute;
        left: -10px;
    } 
    &__icon {
        margin: 0 20px 0 5px;
        color: darken($colour-background, 50%);
        font-size: 1.2em;
    } 
    &:hover {
        &::after {
            opacity: 1;
        }   
        .list__icon {
            color: $colour-primary;
        }       
    }
    &::after {
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: lighten($colour-primary, 35%);            
        border-radius: 20px;
        opacity: 0;
        z-index: -1;
    }
}

.restaurant {
    background: $colour-background;
    &__title {
        font-weight: bold;
        font-size: $main-title-size;
        margin-bottom: 15px;
    } 
}

.preview {
    margin-bottom: 20px;
    box-shadow: $box-shadow;
    &__img {
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        &__palette {
            @include img-background($prev-height,'../img/restaurants/palette_gout.jpg');
        }
        &__note {
            @include img-background($prev-height,'../img/restaurants/note_enchantee.jpg');
        }
        &__francaise {
            @include img-background($prev-height,'../img/restaurants/francaise.jpg');
        }
        &__delice {
            @include img-background($prev-height,'../img/restaurants/delice_sens.jpg');
        }
        &__tag {
        background-color: $colour-tertiary;
        padding: 6px 10px;
        color: darken($colour-tertiary, 40%);
        font-weight: bold;
        font-size: 0.9em;
        border-radius: 2px;
        margin: 10px;
        } 
    }            
    &__detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $colour-back;
        border-radius: 0 0 10px 10px;
        padding: 12px;
        &__link {
            width: 100%;
        }
    }    
}

@media all and (min-width: 540px) {
    .bloc {
        flex-direction: row;       
    }

    .list {
        width: 48%;        
        padding-right: 0;
        &__3{
            margin-left: auto;
            margin-right: auto;
        }
    }

    .preview {
        width: 45%;
    }
}

@media all and (min-width: 810px) {
    .list {
        width: 31%; 
        &__3 {
            margin-left: unset;
            margin-right: unset;
        }
    }
}