@keyframes heart-filling {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes menu__plat {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menu__check {
    0% {
        transform: translateX(100%);
    }
}

@keyframes menu__check__icon {
    0% {
        transform: rotate(-360deg);
    }
}

@keyframes menu__prix {
    100% {
        transform: translateX(-500%);
    }
}