$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #F2F2F2;
$colour-footer: #333333;
$colour-back: #FFF;

$layout-padding: 20px;
$plat-padding: 10px;

$main-title-size: 1.3em;

$prev-height: 150px;
$img-back_height: 250px;

$menu_radius: 40px;

$load-duration: 500ms;

$screen-tablet: 540px;
$screen-desktop: 810px;