$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-price: #535353;
$colour-background: #F2F2F2;
$colour-footer: #333333;
$colour-back: #FFF;
$colour-button: linear-gradient($colour-secondary, $colour-primary);
$colour-heart: linear-gradient($colour-primary, $colour-secondary);

$header-padding: 20px 20px 10px 20px;
$layout-padding: 20px;
$main-section-padding: 40px 20px;
$plat-padding: 10px;

$main-title-size: 1.3em;

$prev-height: 150px;
$img-back_height: 250px;

$box-shadow: 0 3px 3px darken($colour-background, 5%);